.jolt-header {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.jolt {
  width: 100%;
  height: 90vh;
}

.jsoncard {
  width: 30%;
  height: 85%;
  float: left;
  margin: 10px;
}

.jsoncard h3 {
  text-align: center;
}

.jsoncardace {
  border-style: solid;
  border-width: thin;
}
